# name: Terraform Destroy

# on:
#   workflow_dispatch:

# permissions:
#   id-token: write
#   contents: read

# env:
#   WORKDIR: terraform/ec2-demo
#   AWS_REGION: ${{ vars.AWS_REGION }}
#   AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
#   AWS_ROLE_NAME: ${{ vars.AWS_ROLE_NAME }}

# jobs:
#   destroy:
#     runs-on: ubuntu-latest
#     environment: prod
#     concurrency:
#       group: terraform-prod
#       cancel-in-progress: false
#     defaults:
#       run:
#         working-directory: ${{ env.WORKDIR }}
#     steps:
#       - uses: actions/checkout@v4

#       - uses: hashicorp/setup-terraform@v3
#         with:
#           terraform_version: 1.9.5

#       - name: Configure AWS credentials (OIDC)
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
#           aws-region: ${{ env.AWS_REGION }}

#       - name: Terraform Init
#         run: terraform init -input=false

#       - name: Terraform Destroy
#         run: terraform destroy -auto-approve
